* {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  background-color: #333;
  color: white;
  font-family: 'Varela Round', sans-serif; }
  body .container {
    max-width: 700px;
    background-color: white;
    margin: 50px auto 0;
    color: #333;
    padding: 20px 40px; }
    body .container h3 {
      text-align: center;
      padding: 20px; }

header {
  background-image: url(https://images.pexels.com/photos/196652/pexels-photo-196652.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  header h1 {
    text-shadow: 2px 2px 5px #444;
    font-size: 5vw;
    text-transform: uppercase; }

footer {
  text-align: center; }
